@import "./variables.scss"; 
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
  font-family: "PPEditorial Ultralight Italic";
  src: url('../../fonts/PPEditorialNew-UltralightItalic.otf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "PPEditorial Ultralight";
  src: url('../../fonts/PPEditorialNew-Ultralight.otf');
  font-weight: bold;
  font-style: normal;
}


  
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  font-family: 'Roboto Mono', monospace, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;

  @include body;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
main {
  @extend .container;
}



